*{
    margin: 0;
    padding: 0;
}

#tablas{
    float: left;
    width: 96%;
    /* border: pink 1px solid; */
    margin:0;
    height: auto;
}

#tablas2{
    float: right;
    width: 20%;
    /* border: pink 1px solid; */
    margin:0;
    height: auto;
    padding: 0;
    margin-right: 4%;
}

#titAdmin{
    color: rgb(30, 111, 193);
    font-style: italic;
    font-size:3.2em;
    text-align: left;
    /* margin-right: 30%; */
    float: left;
}

.table{
    font-size: 1.5em;
}

.btn-success{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 23px;
    float:left;
}