*{
    margin: 0;
    padding: 0;
}

.BarraLateral{
    float: left;
    border: green 1px solid;
}

.BarraLateral li{
    background: #212529;
    list-style: none;
    text-align: left;
    padding: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #ddd;
    font-size: 23px;
    color: white;
}

.BarraLateral li:hover{
    background: rgb(148, 180, 59);
    cursor: pointer;
}

#EspacioConsulta{
    background-image: url('../images/2020.02.14_PortadasTwitter__Manizales1.png');
    margin-left: 274px;
    margin-right: 0px;
    border: orange 1px solid;
}

#tablas{
    float: left;
    width: 68%;
    border: pink 1px solid;
    margin:0;
    margin-left:1%;
    margin-right:1%;
}

#botones{
    width: 28%;
    border: green 1px solid;
    margin:0;
    margin-left:1%;
    margin-right:1%;
    float: right;
}

#titAdmin{
    color: rgb(30, 111, 193);
    font-style: italic;
    font-size:3.2em;
    text-align: center;
    margin-right: 30%;
}

.table{
    font-size: 1.5em;
}